/*
2F7A95
2779AA
46B8E2
94CDE2
1F5062
*/
body {font-size:15px;font-family:Trebuchet MS, tahoma, veranda, san-serif;color:#444;}
h1, h2, h3, h4, h5 {color:#1F5062;} /*0c3ba5 457cf8*/
h1 {font-size:1.8em;margin:10px 0 10px 0;}
h2 {font-size:1.6em;margin-bottom:10px;}
h3 {font-size:1.25em; line-height:22px;margin-bottom:10px; }
h4 {font-size:1.2em; line-height:22px;margin-bottom:5px;}
h5 {font-size:1em; line-height:18px;margin-bottom:0px; }

hr {height:1px; border:0px;background-color:#1F5062;color:#1F5062; margin:25px;clear:both; }

p {font-size:13px; line-height:15px; margin:5px 2px; font-family:Arial, san-serif;}
pre {font-size:11px;}
th {font-size:13px;font-weight:600;text-align:left;border-bottom:1px dotted #1F5062;padding:3px;}
table tr td{margin:3px;padding:3px;}
form {margin:20px;}

a {color:#4346c8;text-decoration:underline;}
a:hover {color:#7477ea;text-decoration:underline;}
a:visited {color:#4346c8;text-decoration:underline;}

.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.margin_bottom {margin-bottom:10px;}
.margin_top {margin-top:10px;}
.red {color:#99000;}
.admin_list_table {width:95%;margin:25px auto;}

#options_list {width:150px;height:150px;}
select {width:250px;}
select#first_letter{width:50px;}
label {color:#333;font-weight:700;font-size:13px;} 
label.error{color:#8a1f11;}
input[type="text"].error, input[type="password"].error {background:#FBE3E4;color:#8a1f11;border:1px solid #8a1f11;}
textarea.error {background:#FBE3E4;color:#8a1f11;border:1px solid #8a1f11;}

/* Default Form Styles */
input[type=text] {border:1px solid #1F5062;padding:3px;margin:1px;color:#1F5062;width:250px;}
input[type=password] {border:1px solid #1F5062;padding:3px;margin:1px;color:#1F5062;width:250px;}
input[type=submit], input[type=button] {font-size:.75em;}
textarea {width:600px;height:250px;border:1px solid #1F5062;padding:3px;margin:1px;color:#1F5062;}
textarea[name="address"] {width:250px; height:50px;}
label {color:#30302e;font-weight:700;}
input .error {margin:0;}

#main {min-height:500px;}

#footer_admin {background-color:#1F5062; text-align:right;color:#fff;font-size:.8em;margin-top:15px;}
#footer_admin p{line-height:1em; margin:0px; padding:2px;font-size:11px;}
#footer_admin a{color:#ffffff;}
#footer_admin a:hover{color:#ffffff;}
#footer_admin a:visited{color:#ffffff;}

#customer_table tr th, #customer_table tr td  {padding:3px;line-height:1em;}
#customer_table tr td p {line-height:1em;}
#search_bar, #customer_search  {display:inline;}
 


/*label { width:190px; float:left; margin-top:8px; margin-left:10px; display:block; font-size:11px;}*/
.label_case_number { width:190px; float:left; margin-top:8px; margin-left:10px; display:block; font-size:11px;}
.label_date { width:190px; float:left; margin-top:8px; margin-left:10px; display:block; font-size:11px;}
.label_title { width:190px; float:left; margin-top:8px; margin-left:10px; display:block; font-size:11px; }


/*input { width:150px; border:1px solid #666; padding:3px; margin:1px; } */
.input_case_number { width:90px; border:1px solid #666; padding:3px; margin:5px 30px 5px 5px; float:left; }
.input_date { width:125px; border:1px solid #666; padding:3px; margin:5px; float:left; }
.input_title { width:423px; border:1px solid #666; padding:3px; margin:5px 30px 5px 5px; }
.input_checkbox { width:10px; }
.input_code {float:left; margin-right:50px; padding-top:10px;}

/* Application Flash Styles */
#flash.error, #flash.notice, #flash.success {border:1px solid #ddd;padding:5px;border-radius:5px;margin-bottom:15px;width:928px!important;}
#flash.error p, #flash.notice p, #flash.success p {margin:0;padding:5px;}
#flash.error {background:#fbe3e4;color:#8a1f11;border:1px solid #8a1f11;}
#flash.notice {background:#fff6bf;color:#514721;border-color:#FFD324;}
#flash.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
#flash.error a {color:#8a1f11;}
#flash.notice a {color:#514721;}


/* Login Form Styles */
#login fieldset { border:1px solid #1F5062; }
#login legend { border:1px solid #1F5062; padding:3px 7px; margin:10px; color:#1F5062; }
#login label { float:left; width:25%; margin:5px 10px 0 0; text-align:right; font-weight:bold; }

