/* ========================================================
*
* MVP Ready - Lightweight & Responsive Admin Template
*
* ========================================================
*
* File: mvpready-landing.css, mvpready-landing-*.css
* Theme Version: 1.1.0
* Bootstrap Version: 3.1.1
* Author: Jumpstart Themes
* Website: http://mvpready.com
*
* ======================================================== */
body {
  padding: 0;
  margin: 0;
  color: #444;
  font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
  font-size: 13px;
}
/* !Text */
/* ----------------------------------------------- */
.text-primary,
.text-primary:hover {
  color: #d74b4b;
}
.text-secondary,
.text-secondary:hover {
  color: #6685a4;
}
.text-tertiary,
.text-tertiary:hover {
  color: #bcbcbc;
}
.text-info,
.text-info:hover {
  color: #5bc0de;
}
.text-warning,
.text-warning:hover {
  color: #f0ad4e;
}
.text-success,
.text-success:hover {
  color: #5cb85c;
}
.text-danger,
.text-danger:hover {
  color: #d9534f;
}
.text-sm {
  font-size: 11px;
}
.text-md {
  font-size: 13px;
}
.text-lg {
  font-size: 18px;
}
.text-xl {
  font-size: 24px;
}
/* !Buttons */
/* ----------------------------------------------- */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-secondary,
.btn-tertiary,
.btn-facebook,
.btn-twitter {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-secondary:active,
.btn-tertiary:active,
.btn-facebook:active,
.btn-twitter:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active,
.btn-secondary.active,
.btn-tertiary.active,
.btn-facebook.active,
.btn-twitter.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-primary {
  color: #ffffff;
  background-color: #d74b4b;
  border-color: #cc2d2d;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #cc2d2d;
  border-color: #9a2222;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #d74b4b;
  border-color: #cc2d2d;
}
.btn-primary .badge {
  color: #d74b4b;
  background-color: #ffffff;
}
.btn-secondary {
  color: #ffffff;
  background-color: #6685a4;
  border-color: #54718d;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: #ffffff;
  background-color: #54718d;
  border-color: #3d5267;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  background-color: #6685a4;
  border-color: #54718d;
}
.btn-secondary .badge {
  color: #6685a4;
  background-color: #ffffff;
}
.btn-tertiary {
  color: #ffffff;
  background-color: #bcbcbc;
  border-color: #a8a8a8;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: #ffffff;
  background-color: #a8a8a8;
  border-color: #898989;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  background-color: #bcbcbc;
  border-color: #a8a8a8;
}
.btn-tertiary .badge {
  color: #bcbcbc;
  background-color: #ffffff;
}
.btn-facebook {
  color: #ffffff;
  background-color: #4669b4;
  border-color: #3a5896;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #3a5896;
  border-color: #293e6a;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #4669b4;
  border-color: #3a5896;
}
.btn-facebook .badge {
  color: #4669b4;
  background-color: #ffffff;
}
.btn-twitter {
  color: #ffffff;
  background-color: #15beff;
  border-color: #00aaeb;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #00aaeb;
  border-color: #007eae;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #15beff;
  border-color: #00aaeb;
}
.btn-twitter .badge {
  color: #15beff;
  background-color: #ffffff;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
  border-color: #dbdbdb;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
  border-color: #3e8f3e;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
  border-color: #e38d13;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
  border-color: #b92c28;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
  border-color: #28a4c9;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #d74b4b 0%, #bb2a2a 100%);
  background-image: linear-gradient(to bottom, #d74b4b 0%, #bb2a2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd74b4b', endColorstr='#ffbb2a2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b32828;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #bb2a2a;
  background-position: 0 -15px;
  border-color: #b32828;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #bb2a2a;
  border-color: #b32828;
}
.btn-secondary {
  background-image: -webkit-linear-gradient(top, #6685a4 0%, #4d6781 100%);
  background-image: linear-gradient(to bottom, #6685a4 0%, #4d6781 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6685a4', endColorstr='#ff4d6781', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #49627a;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #4d6781;
  background-position: 0 -15px;
  border-color: #49627a;
}
.btn-secondary:active,
.btn-secondary.active {
  background-color: #4d6781;
  border-color: #49627a;
}
.btn-tertiary {
  background-image: -webkit-linear-gradient(top, #bcbcbc 0%, #9d9d9d 100%);
  background-image: linear-gradient(to bottom, #bcbcbc 0%, #9d9d9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcbcbc', endColorstr='#ff9d9d9d', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #989898;
}
.btn-tertiary:hover,
.btn-tertiary:focus {
  background-color: #9d9d9d;
  background-position: 0 -15px;
  border-color: #989898;
}
.btn-tertiary:active,
.btn-tertiary.active {
  background-color: #9d9d9d;
  border-color: #989898;
}
.btn-facebook {
  background-image: -webkit-linear-gradient(top, #4669b4 0%, #354f87 100%);
  background-image: linear-gradient(to bottom, #4669b4 0%, #354f87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4669b4', endColorstr='#ff354f87', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #324b80;
}
.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #354f87;
  background-position: 0 -15px;
  border-color: #324b80;
}
.btn-facebook:active,
.btn-facebook.active {
  background-color: #354f87;
  border-color: #324b80;
}
.btn-twitter {
  background-image: -webkit-linear-gradient(top, #15beff 0%, #009bd7 100%);
  background-image: linear-gradient(to bottom, #15beff 0%, #009bd7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff15beff', endColorstr='#ff009bd7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #0094cd;
}
.btn-twitter:hover,
.btn-twitter:focus {
  background-color: #009bd7;
  background-position: 0 -15px;
  border-color: #0094cd;
}
.btn-twitter:active,
.btn-twitter.active {
  background-color: #009bd7;
  border-color: #0094cd;
}
.btn-jumbo {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;
}
/* !Badges */
/* ----------------------------------------------- */
.badge {
  font-weight: 600;
}
.badge-primary {
  background-color: #d74b4b;
}
.badge-secondary {
  background-color: #6685a4;
}
.badge-tertiary {
  background-color: #bcbcbc;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-info {
  background-color: #5bc0de;
}
.badge-warning {
  background-color: #f0ad4e;
}
.badge-danger {
  background-color: #d9534f;
}
/* !Labels */
/* ----------------------------------------------- */
.label {
  font-weight: 600;
}
.label-primary {
  background-color: #d74b4b;
}
.label-secondary {
  background-color: #6685a4;
}
.label-tertiary {
  background-color: #bcbcbc;
}
/* !Progress Bars */
/* ----------------------------------------------- */
.progress {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-color: #d74b4b;
  background-image: -webkit-linear-gradient(top, #d74b4b 0%, #c42b2b 100%);
  background-image: linear-gradient(to bottom, #d74b4b 0%, #c42b2b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd74b4b', endColorstr='#ffc42b2b', GradientType=0);
}
.progress-bar-success {
  background-color: #5cb85c;
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.progress-bar-info {
  background-color: #5bc0de;
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-color: #f0ad4e;
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-color: #d9534f;
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.progress-bar-primary {
  background-color: #d74b4b;
  background-image: -webkit-linear-gradient(top, #d74b4b 0%, #c42b2b 100%);
  background-image: linear-gradient(to bottom, #d74b4b 0%, #c42b2b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd74b4b', endColorstr='#ffc42b2b', GradientType=0);
}
.progress-bar-secondary {
  background-color: #6685a4;
  background-image: -webkit-linear-gradient(top, #6685a4 0%, #516c87 100%);
  background-image: linear-gradient(to bottom, #6685a4 0%, #516c87 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6685a4', endColorstr='#ff516c87', GradientType=0);
}
.progress-bar-tertiary {
  background-color: #bcbcbc;
  background-image: -webkit-linear-gradient(top, #bcbcbc 0%, #a3a3a3 100%);
  background-image: linear-gradient(to bottom, #bcbcbc 0%, #a3a3a3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcbcbc', endColorstr='#ffa3a3a3', GradientType=0);
}
.progress-bar-female {
  background-color: #f174ac;
  background-image: -webkit-linear-gradient(top, #f174ac 0%, #ec4690 100%);
  background-image: linear-gradient(to bottom, #f174ac 0%, #ec4690 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff174ac', endColorstr='#ffec4690', GradientType=0);
}
.progress-bar-male {
  background-color: #25aae2;
  background-image: -webkit-linear-gradient(top, #25aae2 0%, #198bbb 100%);
  background-image: linear-gradient(to bottom, #25aae2 0%, #198bbb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25aae2', endColorstr='#ff198bbb', GradientType=0);
}
.progress-sm {
  height: 12px;
}
.progress-lg {
  height: 28px;
}
/* !Forms */
/* ----------------------------------------------- */
.form-group {
  margin-bottom: 25px;
}
.form-group label {
  font-weight: 600;
}
/* !Alerts */
/* ----------------------------------------------- */
.alert-success {
  color: #ffffff;
  background-color: #46a046;
  background-image: -webkit-linear-gradient(top, #58b658 0%, #49a749 100%);
  background-image: linear-gradient(to bottom, #58b658 0%, #49a749 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff58b658', endColorstr='#ff49a749', GradientType=0);
  border-color: #3d8b3d;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.alert-info {
  color: #ffffff;
  background-color: #35b1d6;
  background-image: -webkit-linear-gradient(top, #57bedd 0%, #3db5d8 100%);
  background-image: linear-gradient(to bottom, #57bedd 0%, #3db5d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff57bedd', endColorstr='#ff3db5d8', GradientType=0);
  border-color: #28a1c5;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.alert-warning {
  color: #ffffff;
  background-color: #ec9924;
  background-image: -webkit-linear-gradient(top, #f0ab49 0%, #ed9e2d 100%);
  background-image: linear-gradient(to bottom, #f0ab49 0%, #ed9e2d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ab49', endColorstr='#ffed9e2d', GradientType=0);
  border-color: #df8a13;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.alert-danger {
  color: #ffffff;
  background-color: #ce312c;
  background-image: -webkit-linear-gradient(top, #d84f4b 0%, #d33632 100%);
  background-image: linear-gradient(to bottom, #d84f4b 0%, #d33632 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd84f4b', endColorstr='#ffd33632', GradientType=0);
  border-color: #b52b27;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
/* !Dropdown */
/* ----------------------------------------------- */
.btn-primary .caret,
.btn-secondary .caret,
.btn-tertiary .caret,
.btn-facebook .caret,
.btn-twitter .caret {
  border-top-color: #fff;
}
.dropup .btn-primary .caret,
.dropup .btn-secondary .caret,
.dropup .btn-tertiary .caret,
.dropup .btn-facebook .caret,
.dropup .btn-twitter .caret {
  border-bottom-color: #fff;
}
.dropdown-menu > li {
  margin-right: .5em;
  margin-left: .5em;
}
.dropdown-menu > li > a {
  padding: 6px 12px;
  font-size: 13px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-header {
  padding-right: 12px;
  padding-left: 12px;
  font-size: 11px;
  text-transform: uppercase;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #d74b4b;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #444;
  background-color: #dbdbdb;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  display: none;
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.navbar .dropdown-submenu > .dropdown-menu,
.mainnav .dropdown-submenu > .dropdown-menu {
  display: block;
  margin-top: -6px;
  margin-left: 20px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-submenu:hover > .dropdown-menu:before,
.dropdown-submenu:hover > .dropdown-menu:after {
  display: none;
}
@media (min-width: 768px) {
  .navbar .dropdown-submenu > .dropdown-menu,
  .mainnav .dropdown-submenu > .dropdown-menu {
    display: none;
    margin-left: -1px;
  }
  .navbar .dropdown-submenu:hover > .dropdown-menu,
  .mainnav .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-submenu > a:after {
    content: " ";
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
  }
  .dropdown-submenu:hover > a:after {
    border-left-color: #d74b4b;
  }
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
/* !Tables */
/* ----------------------------------------------- */
.table-bordered thead tr,
.table-bordered tfoot tr {
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#ffeeeeee', GradientType=0);
}
.table-bordered thead tr th,
.table-bordered tfoot tr th {
  color: #444;
  font-size: 12px;
  font-weight: 800;
  background-color: transparent;
  border-bottom-width: 1px;
  vertical-align: middle;
}
/* !Pagination */
/* ----------------------------------------------- */
.pagination > li {
  display: inline-block;
  margin: 0 3px;
}
.pagination > li:first-child {
  margin-left: 0;
}
.pagination > li:last-child {
  margin-right: 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #222;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #d74b4b;
  background-image: -webkit-linear-gradient(top, #d74b4b 0%, #c82c2c 100%);
  background-image: linear-gradient(to bottom, #d74b4b 0%, #c82c2c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd74b4b', endColorstr='#ffc82c2c', GradientType=0);
  border-color: #af2727;
  cursor: default;
}
.pager > li > a {
  color: #222;
}
/* !Tabs */
/* ----------------------------------------------- */
.tab-content.stacked-content > .tab-pane {
  padding-top: 0;
}
.nav-tabs,
.nav-pills {
  margin-bottom: 1.5em;
}
.nav-tabs .caret,
.nav-pills .caret,
.nav-tabs a:hover .caret,
.nav-pills a:hover .caret {
  border-top-color: #444;
  border-bottom-color: #444;
}
.nav-pills.nav-stacked > li {
  margin-right: 0;
  margin-bottom: .5em;
}
.nav-pills.nav-stacked > li > a {
  padding: 10px 15px;
}
.nav-pills > li {
  margin-right: 6px;
}
.nav-pills > li > a {
  padding: 5px 12px;
  color: #444;
  background-color: #eee;
}
.nav-pills > li > a:hover {
  background-color: #e4e4e4;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #d74b4b;
}
.nav-pills > li.active .caret,
.nav-pills > li.active a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #d74b4b;
  font-weight: 600;
}
.nav-tabs > li > a {
  color: #444;
}
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  background-color: #eeeeee;
  border-color: #d74b4b;
}
/* !Modal */
/* ----------------------------------------------- */
.modal-backdrop {
  background-color: #fff;
}
.modal-backdrop.in {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.lt-ie9 .modal-content {
  border-color: #ccc;
}
.modal-styled .modal-header {
  color: #fff;
  background-color: #283947;
  background-image: -webkit-linear-gradient(top, #283947 0%, #1d2934 100%);
  background-image: linear-gradient(to bottom, #283947 0%, #1d2934 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff283947', endColorstr='#ff1d2934', GradientType=0);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.modal-styled .modal-header .close {
  color: #7293b0;
  opacity: 1;
  filter: alpha(opacity=100);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.modal-styled .modal-header .close:hover {
  color: #fff;
}
.modal-styled .modal-content {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.modal-styled .modal-footer {
  background-color: #f1f1f1;
  border-top-color: #ddd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* !Accordions */
/* ----------------------------------------------- */
.accordion-panel .panel-heading {
  padding: 0;
}
.accordion-panel .accordion-toggle {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #ebebeb;
  cursor: pointer;
}
.accordion-panel .accordion-toggle:hover,
.accordion-panel .accordion-toggle:active,
.accordion-panel .accordion-toggle:focus {
  text-decoration: none;
  outline: none !important;
}
.accordion-panel .panel.is-open .accordion-toggle {
  color: #fff;
  background-color: #d74b4b;
}
.accordion-simple .panel .panel-heading {
  padding-right: 0;
  padding-left: 0;
}
.accordion-simple .panel .panel-body {
  padding-left: 25px;
}
.accordion-simple .panel .panel-title {
  position: relative;
  padding-left: 24px;
  color: #444;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 14px;
  line-height: 1.75em;
  letter-spacing: -1px;
}
.accordion-caret:before {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: .35em;
  color: #d74b4b;
  font-size: 1.25em;
  content: "\f0d7";
}
.is-open .accordion-caret:before {
  content: "\f0da";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .75em;
  font-family: 'Oswald';
}
p {
  line-height: 1.7em;
}
.required {
  color: #d9534f;
}
.form-group {
  margin-bottom: 15px;
}
.form label {
  font-weight: 600;
}
.img-responsive {
  max-width: 100%;
}
.btn-jumbo {
  padding: 14px 20px;
  font-size: 20px;
  font-weight: 600;
}
.row-divider {
  margin-top: 50px;
}
/* !Portlets */
/* ----------------------------------------------- */
.portlet {
  padding: 0px;
  margin-bottom: 4em;
}
.portlet-heading {
  padding: 12px 0;
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd;
}
.portlet-body {
  padding: 0;
}
.portlet-boxed {
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-clip: border;
}
.portlet-boxed .portlet-body {
  padding: 15px 15px 15px;
  background-color: #fff;
}
.portlet-boxed .portlet-heading + .portlet-body {
  margin-top: 1px;
  border-top: 1px solid #ddd;
}
.portlet-boxed.portlet-table .table-responsive {
  border-top: none;
  border-right: none;
  border-left: none;
}
.portlet-boxed.portlet-table .table-bordered {
  margin-bottom: 0;
  border: none;
}
.portlet-boxed.portlet-table .table-bordered > thead > tr:last-child > td,
.portlet-boxed.portlet-table .table-bordered > tbody > tr:last-child > td,
.portlet-boxed.portlet-table .table-bordered > tfoot > tr:last-child > td {
  border-bottom: none;
}
.portlet-boxed.portlet-table .table-bordered > thead > tr > th:first-child,
.portlet-boxed.portlet-table .table-bordered > tbody > tr > th:first-child,
.portlet-boxed.portlet-table .table-bordered > tfoot > tr > th:first-child,
.portlet-boxed.portlet-table .table-bordered > thead > tr > td:first-child,
.portlet-boxed.portlet-table .table-bordered > tbody > tr > td:first-child,
.portlet-boxed.portlet-table .table-bordered > tfoot > tr > td:first-child {
  border-left: none;
}
.portlet-boxed.portlet-table .table-bordered > thead > tr > th:last-child,
.portlet-boxed.portlet-table .table-bordered > tbody > tr > th:last-child,
.portlet-boxed.portlet-table .table-bordered > tfoot > tr > th:last-child,
.portlet-boxed.portlet-table .table-bordered > thead > tr > td:last-child,
.portlet-boxed.portlet-table .table-bordered > tbody > tr > td:last-child,
.portlet-boxed.portlet-table .table-bordered > tfoot > tr > td:last-child {
  border-right: none;
}
.portlet-boxed.portlet-table .dataTables_wrapper {
  margin-bottom: 0;
}
.portlet-boxed.portlet-table .dataTable {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.portlet-boxed.portlet-table .dt-rt .col-sm-6,
.portlet-boxed.portlet-table .dt-rb .col-sm-6 {
  padding: 15px 25px;
}
.portlet-boxed.portlet-table .dt-rt .col-sm-6:empty,
.portlet-boxed.portlet-table .dt-rb .col-sm-6:empty {
  padding: 0;
}
.portlet-boxed.portlet-table .portlet-body {
  padding: 0;
}
/* !Icons List */
/* ----------------------------------------------- */
.icons-list {
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
.icons-list > li {
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 1em;
  line-height: 1.65em;
}
.icons-list > li > .icon-li {
  position: absolute;
  top: .25em;
  left: 0;
  width: 1em;
  font-size: 1.25em;
  text-align: center;
}
/* !Pricing plans */
/* ----------------------------------------------- */
.pricing-plan {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  padding: 15px 15px;
  margin-bottom: 2em;
  text-align: center;
  background: #FFF;
  border: 1px solid #DDD;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pricing-header {
  padding: 15px;
  margin: -25px -15px 15px;
  color: #fff;
  background-color: #314657;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.pricing-plan-help {
  border-bottom: 1px dotted #000;
  cursor: help;
}
.pricing-plan-help strong.ui-popover {
  border-bottom: 1px dotted #000;
}
.pricing-plan-label {
  padding-right: 12px;
  padding-left: 12px;
  color: #82a0b9;
  font-size: 13px;
}
.pricing-plan-title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.pricing-plan-price {
  display: block;
  padding: 10px;
  margin: -15px -15px 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}
.pricing-plan-amount {
  color: #46a546;
  font-size: 24px;
  font-weight: 400;
}
.pricing-plan-details {
  padding: .5em 0 0;
  margin: 0 0 1em;
}
.pricing-plan-details li {
  padding-top: .5em;
  padding-bottom: .5em;
  list-style: none;
  border-bottom: 1px dotted #ddd;
}
.pricing-plan hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pricing-plan-current,
.pricing-plan-current:hover {
  color: #333;
  font-weight: 800;
  text-decoration: none;
  cursor: default;
}
.pricing-plan-ribbon,
.pricing-plan-ribbon-primary,
.pricing-plan-ribbon-secondary,
.pricing-plan-ribbon-tertiary,
.pricing-plan-ribbon-current {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 15px;
  width: 28px;
  padding: 8px 0 12px;
  color: #fff;
  background-color: #777;
}
.pricing-plan-ribbon:before,
.pricing-plan-ribbon-primary:before,
.pricing-plan-ribbon-secondary:before,
.pricing-plan-ribbon-tertiary:before,
.pricing-plan-ribbon-current:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 6px solid #314657;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
}
.pricing-plan-ribbon-primary {
  background-color: #d74b4b;
}
.pricing-plan-ribbon-secondary {
  background-color: #6685a4;
}
.pricing-plan-ribbon-tertiary {
  background-color: #bcbcbc;
}
.pricing-plan-ribbon-current {
  background-color: #3b5368;
  color: #d74b4b;
}
@media (min-width: 768px) {
  .pricing-plan {
    max-width: 300px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .pricing-plan hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .pricing-plan-amount {
    font-size: 32px;
  }
  .pricing-plan-details {
    margin: 0 0 2em;
  }
  .pricing-plan-details li {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
}
/* !Back to Top */
/* ----------------------------------------------- */
#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1001;
  width: 30px;
  height: 30px;
  display: block;
  background: #283947;
  background-color: rgba(40, 57, 71, 0.85);
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  transition: background 0.25s linear;
}
#back-to-top:hover {
  text-decoration: none;
  background-color: #d74b4b;
  background-color: rgba(215, 75, 75, 0.85);
}
#back-to-top i {
  color: #fff;
}
@media (min-width: 768px) {
  #back-to-top {
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
  }
}
/* !Layout */
/* ----------------------------------------------- */
/* !Navbar */
/* ----------------------------------------------- */
.navbar-inverse {
  margin-bottom: 0;
  background-color: #283947;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: none;
  border-bottom: 1px solid #0d1216;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #0d1216;
}
.navbar-collapse.in {
  max-height: none;
  overflow-y: visible;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: #243441;
}
.navbar-inverse .navbar-brand-img {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-inverse .navbar-toggle {
  padding: 0 18px;
  margin: 0;
  height: 50px;
  color: #fff;
  color: #6287a6;
  font-size: 17px;
  text-align: center;
  line-height: 50px;
  border: none;
  outline: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
  color: #4d6d88;
  background-color: #33485b;
}
.navbar-inverse .navbar-toggle.is-open {
  color: #fff;
  background-color: #33485b;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #243441;
}
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:active,
.navbar-inverse .navbar-nav > li.active > a:focus {
  background-color: #243441;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #243441;
}
.navbar-inverse .navbar-nav > .navbar-profile > a {
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}
.navbar-profile-avatar {
  position: relative;
  top: -1px;
  width: 30px;
  margin-right: .65em;
  border: 2px solid #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.navbar-profile-label {
  display: inline;
  font-size: 13px;
}
.navbar-profile-label-visible {
  display: inline !important;
}
@media (min-width: 768px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-profile-label {
    display: none;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}
.navbar-visible-collapsed {
  display: inline;
  color: #fff;
}
@media (min-width: 768px) {
  .navbar-visible-collapsed {
    display: none;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: 0;
  }
  .navbar .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    top: -7px;
    left: 9px;
  }
  .navbar-right .dropdown-menu:before {
    right: 9px;
    left: auto;
  }
}
.mainnav-caret:before {
  display: inline-block;
  position: relative;
  top: 0;
  margin-left: .25em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "\f0d7";
  -webkit-font-smoothing: antialiased;
}
.navbar {
  min-height: 60px;
  border-bottom: none;
}
.navbar-inverse .navbar-toggle {
  height: 60px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background: #2e4151;
  border-bottom-color: #567a99;
}
.navbar-inverse .navbar-nav > li.active > a {
  background: #23313d;
  border-bottom-color: #d74b4b;
}
.navbar-social-label {
  display: inline;
  padding-left: .4em;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-social > li > a {
    padding-right: 10px;
    padding-left: 10px;
    color: #567a99;
    font-size: 18px;
    font-weight: 800;
  }
  .navbar-social-label {
    display: none;
  }
}
/* !Masthead */
/* ----------------------------------------------- */
.masthead {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #314657;
  border-bottom: 7px solid #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.masthead iframe {
  border: none;
}
.masthead-form {
  width: 90%;
  padding-bottom: 6px;
  margin: 0 auto 4em;
  text-align: left;
}
.masthead-form .form-group {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .masthead-form {
    width: 70%;
  }
}
.masthead-text {
  padding-top: 15px;
  color: #fff;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.masthead-title {
  font-size: 40px;
  font-weight: 400;
}
.masthead-img {
  text-align: center;
}
.masthead-img img {
  margin: 0 auto;
}
.masthead-actions .btn {
  margin-right: 1em;
}
.masthead-actions .btn:last-child {
  margin-right: 0;
}
.masthead-subtitle {
  padding: 12px 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .masthead-subtitle {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 32px;
  }
}
.masthead-carousel {
  padding-top: 25px;
}
@media (min-width: 992px) {
  .masthead-carousel {
    padding-top: 50px;
  }
}
@media (max-width: 992px) {
  .masthead .row > div:first-child {
    margin-bottom: 3em;
  }
  .masthead-text {
    text-align: center;
  }
  .masthead-actions {
    text-align: center;
  }
  .masthead-actions .btn {
    margin: 0 5px .75em;
  }
}
.masthead-carousel .carousel-controls {
  position: absolute;
  left: 0;
  bottom: 25px;
}
.masthead-carousel .carousel-control {
  position: static;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.masthead-carousel .carousel-control.left,
.masthead-carousel .carousel-control.right {
  background: #243441;
  filter: none;
}
.masthead-carousel .carousel-inner {
  min-height: 425px;
}
/* !Content */
/* ----------------------------------------------- */
.tab-pane {
  position: relative;
}
.content {
  padding-top: 40px;
  padding-bottom: 70px;
}
.content-title {
  position: relative;
  display: block;
  margin-bottom: 1.35em;
  border-bottom: 1px solid #e3e3e3;
}
.content-title span {
  display: inline-block;
  position: relative;
  top: 1px;
  padding-right: 1em;
  padding-bottom: 15px;
  border-bottom: 1px solid #d74b4b;
}
.content-title .carousel-next,
.content-title .carousel-prev {
  position: relative;
  top: -1px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.content-title .carousel-prev {
  margin-left: .5em;
}
/* !Layout */
/* ----------------------------------------------- */
.layout {
  margin-top: -40px;
  margin-left: -15px;
  margin-right: -15px;
}
.layout-main {
  padding-top: 40px;
  padding-bottom: 26px;
}
.layout-sidebar {
  padding-top: 40px;
  padding-bottom: 60px;
}
.layout-main-left .layout-main {
  padding-right: 30px;
  padding-left: 15px;
}
.layout-main-left .layout-sidebar {
  padding-right: 15px;
  padding-left: 30px;
  border-left: 1px solid #ccc;
  -webkit-box-shadow: inset 8px 0px 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 8px 0px 15px -10px rgba(0, 0, 0, 0.2);
}
.layout-main-right .layout-main {
  padding-right: 15px;
  padding-left: 30px;
}
.layout-main-right .layout-sidebar {
  padding-right: 30px;
  padding-left: 15px;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, 0.2);
  box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, 0.2);
}
/* !Nav Layout */
/* ----------------------------------------------- */
.nav-layout-sidebar-skip {
  display: none;
  margin-bottom: 1em;
  font-size: 12px;
  text-align: center;
}
.nav-layout-sidebar {
  position: relative;
  z-index: 101;
  margin: 0 0 2em;
  border-top: 1px solid #e5e5e5;
}
.nav-layout-sidebar > li {
  padding: 0;
  margin: 0;
}
.nav-layout-sidebar > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
}
.nav-layout-sidebar > li > a .fa {
  width: 1em;
  margin-right: 4px;
  font-size: 1.15em;
  text-align: center;
}
.nav-layout-sidebar > li > a:hover {
  background-color: #f4f4f4;
}
.nav-layout-sidebar > .active > a,
.nav-layout-sidebar > .active > a:focus,
.nav-layout-sidebar > .active > a:hover {
  color: #d74b4b;
  font-weight: 600;
  background-color: #fff;
}
.nav-layout-sidebar > li + li {
  margin-top: 0;
}
.layout-main-left .nav-layout-sidebar {
  margin-right: 0;
  margin-left: -31px;
}
.layout-main-left .nav-layout-sidebar > li {
  margin: 0 0 0 1px;
}
.layout-main-left .nav-layout-sidebar > .active {
  margin-left: 0;
}
.layout-main-right .nav-layout-sidebar {
  margin-left: 0;
  margin-right: -31px;
}
.layout-main-right .nav-layout-sidebar > li {
  margin: 0 1px 0 0;
}
.layout-main-right .nav-layout-sidebar > .active {
  margin-right: 0;
}
/* !Responsive Layout */
/* ----------------------------------------------- */
@media (max-width: 1200px) {
  .layout-stack-lg {
    margin-top: 0;
  }
  .layout-stack-lg .layout-main,
  .layout-stack-lg .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-lg .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-lg .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-lg .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-lg .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .layout-stack-md {
    margin-top: 0;
  }
  .layout-stack-md .layout-main,
  .layout-stack-md .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-md .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-md .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-md .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-md .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .layout-stack-sm {
    margin-top: 0;
  }
  .layout-stack-sm .layout-main,
  .layout-stack-sm .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-sm .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-sm .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-sm .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-sm .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .layout-stack-xs {
    margin-top: 0;
  }
  .layout-stack-xs .layout-main,
  .layout-stack-xs .layout-sidebar {
    padding-top: 0;
  }
  .layout-stack-xs .layout-main {
    padding-right: 15px;
    padding-left: 15px;
  }
  .layout-stack-xs .layout-sidebar {
    padding-right: 15px;
    padding-left: 15px;
    border-right: none;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .layout-stack-xs .nav-layout-sidebar-skip {
    display: block;
  }
  .layout-stack-xs .nav-layout-sidebar {
    margin-right: 0;
    margin-left: 0;
  }
}
/* !Footer */
/* ----------------------------------------------- */
.footer-social-link {
  padding: 0;
  margin: 0;
}
.footer-social-link li {
  display: inline-block;
  margin: 0 12px 15px;
  list-style-type: none;
}
.footer-social-link li a {
  font-size: 24px;
}
.footer-social-link li a:hover {
  color: #fff;
}
.footer {
  padding: 35px 0 0;
  color: #fff;
  background: #314657;
  border-top: 7px solid #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
  height: 100%
}
.footer .content-title {
  border-bottom-color: #3e586e;
}
.footer .container > .row > div {
  margin-bottom: 50px;
}
/* !Copyright */
/* ----------------------------------------------- */
.copyright {
  padding: 20px 0;
  color: #fff;
  line-height: 59px;
  background: #283947;
}
.copyright:before,
.copyright:after {
  content: " ";
  display: table;
}
.copyright:after {
  clear: both;
}
.copyright p {
  margin-bottom: 0;
}
.footer a,
.copyright a {
  color: #93acc2;
}
/* !Mini Features */
/* ----------------------------------------------- */
.mini-feature {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 4em;
  margin-bottom: 2em;
  font-size: 13px;
}
.mini-feature-icon {
  position: absolute;
  top: -5px;
  width: 48px;
  height: 48px;
  font-size: 36px;
  text-align: center;
  line-height: 48px;
}
.mini-feature-text {
  display: block;
  padding-left: 60px;
}
.mini-feature-title {
  color: #555;
  font-weight: 400;
}
@media (min-width: 768px) {
  .mini-feature {
    float: left;
    width: 33.33333333333333%;
  }
}
/* !Clients List */
/* ----------------------------------------------- */
.clients-list {
  width: 100%;
  padding: 0;
}
.clients-list li {
  float: left;
  list-style-type: none;
  text-align: center;
}
.clients-list li img {
  padding: 10px;
  margin-bottom: 2em;
  border: 1px solid #d8d8d8;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.clients-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.clients-list li {
  float: left;
  height: 100px;
  margin: 0 10px 0 10px;
  line-height: 100px;
  text-align: center;
  opacity: 0.75;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.clients-list li:hover {
  opacity: 1;
}
/* !Testimonials */
/* ----------------------------------------------- */
.testimonial-text {
  position: relative;
  padding: 20px 25px;
  margin: 0;
  font-weight: 500;
  background: #fafafa;
  background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #fafafa 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #fafafa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fffafafa', GradientType=0);
  border: 1px solid #ddd;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.testimonials-arrow {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  margin-top: -7px;
  margin-bottom: 10px;
  margin-left: 45px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.testimonial-author {
  display: table;
  margin: 0px 0 0 19px;
}
.testimonial-image {
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 70px;
  height: 70px;
}
.testimonial-image img {
  width: 70px;
  height: 70px;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 50px;
}
.testimonial-author-info {
  display: table-cell;
  vertical-align: top;
  padding-top: 10px;
  padding-left: 15px;
}
.recent-news {
  margin-bottom: 25px;
}
.recent-news-item {
  width: 100%;
  margin: 0 0 30px 0;
}
.recent-news-item-title {
  margin: 0;
}
.recent-news-item-title a {
  color: #444;
}
.recent-news-item-date {
  float: left;
  width: 50px;
  padding: 10px 0 0 0;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  background: #f4f4f4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.recent-news-item-date span {
  display: block;
  padding: 5px 0;
  margin: 10px 0 0 0;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  background: #6685a4;
  text-transform: uppercase;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.recent-news-item-description {
  margin-left: 70px;
}
.recent-news-item-comments {
  color: #cccccc;
}
.recent-news-item-more {
  display: block;
}
/* !Tweet List */
/* ----------------------------------------------- */
.tweetList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tweetList li {
  position: relative;
  padding-left: 25px;
}
.tweetList li:before {
  content: "\f099";
  font-family: 'FontAwesome';
  font-size: 15px;
  position: absolute;
  top: 4px;
  left: 0;
}
.masthead .btn-transparent,
.footer .btn-transparent {
  color: #ffffff;
  background-color: #314657;
  border-color: #ffffff;
  border: 2px solid #fff;
}
.masthead .btn-transparent:hover,
.footer .btn-transparent:hover,
.masthead .btn-transparent:focus,
.footer .btn-transparent:focus,
.masthead .btn-transparent:active,
.footer .btn-transparent:active,
.masthead .btn-transparent.active,
.footer .btn-transparent.active,
.open .dropdown-toggle.masthead .btn-transparent,
.open .dropdown-toggle.footer .btn-transparent {
  color: #ffffff;
  background-color: #23313d;
  border-color: #e0e0e0;
}
.masthead .btn-transparent:active,
.footer .btn-transparent:active,
.masthead .btn-transparent.active,
.footer .btn-transparent.active,
.open .dropdown-toggle.masthead .btn-transparent,
.open .dropdown-toggle.footer .btn-transparent {
  background-image: none;
}
.masthead .btn-transparent.disabled,
.footer .btn-transparent.disabled,
.masthead .btn-transparent[disabled],
.footer .btn-transparent[disabled],
fieldset[disabled] .masthead .btn-transparent,
fieldset[disabled] .footer .btn-transparent,
.masthead .btn-transparent.disabled:hover,
.footer .btn-transparent.disabled:hover,
.masthead .btn-transparent[disabled]:hover,
.footer .btn-transparent[disabled]:hover,
fieldset[disabled] .masthead .btn-transparent:hover,
fieldset[disabled] .footer .btn-transparent:hover,
.masthead .btn-transparent.disabled:focus,
.footer .btn-transparent.disabled:focus,
.masthead .btn-transparent[disabled]:focus,
.footer .btn-transparent[disabled]:focus,
fieldset[disabled] .masthead .btn-transparent:focus,
fieldset[disabled] .footer .btn-transparent:focus,
.masthead .btn-transparent.disabled:active,
.footer .btn-transparent.disabled:active,
.masthead .btn-transparent[disabled]:active,
.footer .btn-transparent[disabled]:active,
fieldset[disabled] .masthead .btn-transparent:active,
fieldset[disabled] .footer .btn-transparent:active,
.masthead .btn-transparent.disabled.active,
.footer .btn-transparent.disabled.active,
.masthead .btn-transparent[disabled].active,
.footer .btn-transparent[disabled].active,
fieldset[disabled] .masthead .btn-transparent.active,
fieldset[disabled] .footer .btn-transparent.active {
  background-color: #314657;
  border-color: #ffffff;
}
.masthead .btn-transparent .badge,
.footer .btn-transparent .badge {
  color: #314657;
  background-color: #ffffff;
}
.masthead .btn-transparent:hover,
.footer .btn-transparent:hover {
  background: #2c3e4e;
}
