
.margin_top {margin-top:10px;}
.margin_top_5 {margin-top:5px;}
.margin_top_20 {margin-top:20px;}
.margin_bottom {margin-bottom:10px;}
.red {color:#c00;}
.small {font-size:.7em;}
.green {color:#0a0;}
.left {float:left;}
.right {float:right;}
.center {text-align:center;}
.indent {padding-left:10px;}
.hide {display:none;}
.clear{clear:both;}
.half {width:50%;}

.alert-info a {color:#f4f5f6;}
