<div class="grid_8">
	<p><strong>Parent Informaton</strong></p>
</div>
<div class="clear"></div>
<div class="grid_4">
	<p><span class="editable" id="parent1_name_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->parent1_name?></span><br />
		<?PHP IF(!empty($this->registry['registration']->parent1_email)): ?>
			<span class="editable" id="parent1_email_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->parent1_email?></span><br />
		<?PHP ENDIF; ?>
		<?PHP IF(!empty($this->registry['registration']->parent1_phone)): ?>
			<span class="editable" id="parent1_email_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->parent1_phone?></span><br />
		<?PHP ENDIF; ?>
</div>
<div class="grid_4">
	<p><span class="editable" id="parent2_name_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->parent2_name?></span><br />
		<?PHP IF(!empty($this->registry['registration']->parent2_email)): ?>
			<span class="editable" id="parent2_email_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->parent2_email?></span><br />
		<?PHP ENDIF; ?>
		<?PHP IF(!empty($this->registry['registration']->parent2_phone)): ?>
			<span class="editable" id="parent2_phone_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->parent2_phone?></span><br />
		<?PHP ENDIF; ?>
</div>
<div class="clear"></div>
