<div class="grid_8">
	<p><strong>Notes</strong><br /><span class="editable_textarea" id="notes_<?=$this->registry['registration']->id?>"><?=nl2br($this->registry['registration']->notes)?></span></p>
</div>
