<p><strong>Grade </strong><span class="editable" id="grade_level_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->grade_level?></span></p>
<p><strong>School </strong><span class="editable" id="school_<?=$this->registry['registration']->id?>"><?=$this->registry['registration']->school?></span></p>
