<div class="grid_12"><hr /></div>
<div class="grid_7">
	<p>
		<label for="comments">Comments:</label><br />
		<?=HTML::text_area($this->registry['registration'], 'comments')?>
	</p>
</div>
<div class="clear"></div>