<div class="grid_10 prefix_1">
	<h1>1. ACCEPTANCE OF TERMS</h1>
	<h5 style="margin-top:20px;margin-bottom:5px;">1.1 Overview</h1>

	<p>The following terms and conditions (this "TOS") govern all use by you as an Organizer (as defined below) of (a) the RegistrationHandler.com ("REGISTRATIONHNADLER") website and domains (including all webpages, subdomains and subparts therein contained, the "Site"), (b) any and all services available on or through the Site or otherwise provided by r5k Media LLC. ("R5K MEDIA") for your events, and (c) all Software (as defined below) (collectively, the "Services"). The Services are owned and operated by r5k Media and RegistrationHandler.com. The Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on the Site by REGISTRATIONHNADLER. BY USING OR ACCESSING ANY PART OF THE SERVICES, YOU AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED HEREIN AND ALL OTHER OPERATING RULES, POLICIES AND PROCEDURES THAT MAY BE PUBLISHED FROM TIME TO TIME ON THE SITE BY REGISTRATIONHNADLER. IF YOU DO NOT AGREE TO ANY OF SUCH TERMS, CONDITIONS, RULES, POLICIES OR PROCEDURES, DO NOT USE OR ACCESS THE SERVICES.</p>
	<p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trademark law.</p>
	
	<h5 style="margin-top:20px;margin-bottom:5px;">1.2 Modification</h5>
	<p>r5k Media LLC reserves the right, at its sole discretion, to modify or replace any of the terms or conditions of this TOS at any time. It is your responsibility to check this TOS periodically for changes. Your continued use of the Services following the posting of any changes to this TOS constitutes acceptance of those changes. If any change to this TOS is not acceptable to you, your sole remedy is to cease accessing, browsing and otherwise using the Services. </p>

	<h2 style="margin-top:20px;">2. DESCRIPTION OF REGISTRATIONHANDLER</h2>

	<p>REGISTRATIONHNADLER provides registered users who are activity organizers and planners ("Organizers" or "you") to collect payments with respect to the sale of registrations and ticketing events and sctivities registered on the Site, including Service Fees (as defined below) ("Event Registration Fees"), from users who want to register for such activities ("Buyers"). Organizers may visit the Site, fill out a questionnaire about their orgainization and activity, including pricing, location, etc., and collect Event Registration Fees online directly from Buyers. Payments are all transacted through, either (a) PayPal, Stripe.com, Authorize.net or other third party payment service methods (collectively, "Gateway").</p>



	<h2 style="margin-top:20px;">3. PAYMENT METHODS</h2>

	<h5 style="margin-top:20px;margin-bottom:5px;">3.1 Credit Card Processing</h5>
	<p>(a) Gateway; Payment Process.</p>
	
	<p>REGISTRATIONHNADLER will collect all Event Registration Fees on behalf of the Organizer from Buyers and deduct all applicable Services Fees from the  Registration Fees collected by REGISTRATIONHNADLER, and then pass the remainder along to the Organizer within ten (10) business days after the Registration Fees were collected. This will be either by mailing a check, through an electronic funds transfer, or though a paypal transfer, depending on the option the Organizer has chosen through using the Site, to the address or account, respectively, that the Organizer accurately designates on the Site), provided that REGISTRATIONHNADLER reserves the right to withhold funds (i) at any time as REGISTRATIONHNADLER determines to be necessary for the processing and settlement of all refunds, disputed charges, chargebacks, customer complaints, allegations of fraud, and other discrepancies and (ii) as otherwise permitted pursuant to this TOS. REGISTRATIONHNADLER, in its sole discretion, may determine to advance a portion of Event Registration Fees to Organizer prior to the period set forth above, on such terms and conditions as REGISTRATIONHNADLER may establish from time to time. Organizer agrees that all Event Registration Fees for a given event are earned by Organizer only following conclusion of the applicable event and all Event Registration Fees ultimately due will be net of all Service Fees, refunds, disputed charges, chargebacks and other deductions, whether due to customer complaints, allegations of fraud, discrepancies related to the applicable event or otherwise. No payments shall be made to an Organizer from REGISTRATIONHNADLER with respect to any event that is cancelled. If payments have already been made by REGISTRATIONHNADLER to an Organizer for a cancelled event, such Organizer will immediately refund to REGISTRATIONHNADLER all such payments upon cancellation of such event. All sales, fees, charges, and funds are payable in U.S. Dollars, or other foreign currencies accepted by REGISTRATIONHNADLER.</p>

	<p>ORGANIZER AGREES THAT ANY PAYMENT BY REGISTRATIONHNADLER OF REGISTRATION FEES PRIOR TO THE TENTH (10TH) BUSINESS DAY AFTER THE DATE OF THE APPLICABLE REGISTRATIONS ARE MERELY ADVANCES OF AMOUNTS THAT MAY BECOME DUE TO ORGANIZER UNDER THIS TOS AND THAT REGISTRATIONHNADLER MAY DEMAND SUCH ADVANCES BACK (FROM TIME TO TIME IN ITS SOLE DISCRETION), AND ORGANIZER SHALL THEREUPON PROMPTLY (AND IN ANY CASE WITHIN FIVE (5) BUSINESS DAYS AFTER SUCH DEMAND) PAY BACK TO REGISTRATIONHNADLER SUCH ADVANCE OR ANY PORTION THEREOF DEMANDED BY REGISTRATIONHNADLER. FEES MAY BE AUTOMATICALLY DEDUCTED FROM THE BALANCE OWED TO ORGANIZER BY REGISRTATIONHANDLER.</p>
	
	<p>(b) Refunds.</p>

	<p>(i) Under the CCP option, it is the responsibility of the Organizer to communicate its refund policy to Buyers and to issue refunds to Buyers via the Site. An Organizer shall ensure that its refund policy is consistent with the terms of this TOS and the payment and refund mechanics of the Site. The Site permits an Organizer to issue refunds to Buyers, provided the refund is issued by Organizer before ninety-six (96) hours after the end date of an event and within three (3) months after the transaction date for the underlying purchase. Refunds issued following such period will not be processed through the Site, unless otherwise agreed to by REGISTRATIONHNADLER in its sole discretion. Subject to the foregoing, refunds issued by an Organizer will be processed within thirty (30) days after Organizer instructs the issuance of the refunds via the Site. All communications or disputes regarding refunds are between the Organizer and Buyer, and REGISTRATIONHNADLER will not be responsible or liable for, and Organizer hereby agrees to fully indemnify REGISTRATIONHNADLER and its affiliates for, refunds, errors in issuing refunds, or lack of refunds in connection with the use of the CCP option. (ii) Notwithstanding the foregoing, you acknowledge and agree that REGISTRATIONHNADLER shall have the right to force a refund of any or all tickets at any time for any reason or no reason, including without limitation if REGISTRATIONHNADLER receives complaints from a substantial number (as determined by REGISTRATIONHNADLER in its sole discretion) of Buyers with respect to the applicable event or another event held by Organizer, or REGISTRATIONHNADLER determines in its sole discretion that Organizer has engaged in any fraudulent activity or made any misrepresentations. Further, if one or more Buyer(s) request a refund, whether due to a cancelled event or for any other reason where REGISTRATIONHNADLER would reasonably expect to lose a chargeback, REGISTRATIONHNADLER may, in its sole discretion, issue such refund to such Buyer(s), and Organizer shall then owe the amount of such refund to REGISTRATIONHNADLER.</p>

	<p>(c) Credit Card Chargebacks.

	<p>Under the CCP option, any credit card chargebacks initiated by a Buyer for any reason with respect to an event shall be charged back to the Organizer of such event. All communications and disputes regarding chargebacks are between the Organizer and Buyer, and REGISTRATIONHNADLER will not be responsible or liable in any way for, and Organizer hereby agrees to fully indemnify REGISTRATIONHNADLER and its affiliates for, chargebacks issued in the course of the use of the CCP option. REGISTRATIONHNADLER will deduct the fee amount from the balance owed to the ORGANIZER.</p>

	<h5 style="margin-top:20px;margin-bottom:5px;">3.2 Non-Exclusive Remedies.</h5>
	<p>(a) Payment.</p>

	<p>In the event that Organizer fails to pay to REGISTRATIONHNADLER any amount owed pursuant to this TOS when due, such amount shall bear interest calculated from the date due until paid in full at a rate equal to the lesser of (a) ten percent (10%) per annum, and (b) the maximum amount permitted by applicable law. In the event any amounts are owed by Organizer to REGISTRATIONHNADLER under this TOS or otherwise, REGISTRATIONHNADLER may, without limiting its other rights and remedies, (i) deduct such amounts from Organizer's outstanding balance, whether for that particular event or for any other event that Organizer lists through the Services; and/or (ii) send an invoice to Organizer for such amounts to the extent Organizer's outstanding balance is insufficient to cover these costs, in which case Organizer shall pay REGISTRATIONHNADLER such invoiced amounts within thirty (30) days after the date of the invoice. If payment for any amounts due to REGISTRATIONHNADLER hereunder are not made by Organizer when due, REGISTRATIONHNADLER reserves the right, in its sole discretion and without limiting its other rights and remedies, to terminate Organizer's registration for the Services (including any and all accounts that Organizer may have) and to cancel all other events listed by Organizer.</p>

	<p>(b) Confirmation.</p>

	<p>Upon receipt of a credit card authorization from each individual ticket purchase, REGISTRATIONHNADLER generates a confirmation message and issues a unique confirmation number. You agree to unconditionally accept, honor, and fulfill all ticketing commitments that have been confirmed by REGISTRATIONHNADLER through the Services, and it is your responsibility to verify the Buyer's membership status, confirmation number and/or any event restrictions prior to the subject event.</p>
	<p>(c) Taxes; Withholding.</p>

	<p>(i) You are solely responsible for determining which, if any, sales, use, amusement, value added, consumption, excise and other taxes, duties, levies and charges (collectively, "Taxes") apply to your use of the Services and for collecting, remitting and reporting the correct amounts of all such Taxes to the applicable governmental authorities, even if REGISTRATIONHNADLER provides you with tools that assist you in doing so. REGISTRATIONHNADLER does not represent or warrant that any tax tools will meet all tax requirements that may be applicable to you. REGISTRATIONHNADLER cannot give you legal or tax advice, so please be sure to check with your own tax advisor about any applicable Taxes. In the event that a governmental authority requires REGISTRATIONHNADLER to pay any Taxes attributable to your use of the Services, you agree to indemnify and reimburse REGISTRATIONHNADLER for such Taxes and all costs and expenses related thereto.</p>

	<p>(ii) All Service Fees charged by REGISTRATIONHNADLER do not include any Taxes except to the extent that a Tax is expressly set forth in the applicable invoice or billing statement, and you agree to pay any Taxes that are imposed and payable on such Service Fees (other than those calculated based on REGISTRATIONHNADLER'S net income) to REGISTRATIONHNADLER.</p>

	<p>(iii) In addition, due to new IRS regulations, if REGISTRATIONHNADLER processes transactions and issues you payouts (A) for more than $20,000 in gross sales and (B) for more than 200 order transactions, in each case during a given calendar year and in the aggregate across all of your accounts, REGISTRATIONHNADLER is required to report to the IRS the gross amount of transactions for which you have been paid in that calendar year and in each month of that calendar year, as well as, your name, your address, and your Tax Identification Number ("Your Tax Information"). Starting in 2013, as part of these new IRS regulations, REGISTRATIONHNADLER is required to either (I) collect Your Tax Information or (II) establish that you are a foreign person not subject to US taxes, before your accounts pass the 200 order transaction threshold in the aggregate. Once your accounts cross the 200 order transaction threshold, you agree that you will not receive any further payments from REGISTRATIONHNADLER until either (I) or (II) above are satisfied. To learn more about these new IRS regulations and why we are required to do this, see our 1099-K FAQ. http://help.REGISTRATIONHNADLER.com/customer/en_us/portal/articles/647317</p>

	<p>(iv) REGISTRATIONHNADLER reserves the right to withhold the payment of any amounts owed to you hereunder if REGISTRATIONHNADLER suspects or determines that such amounts have been generated in (A) a fraudulent manner, (B) violation of this TOS, or (C) violation of any applicable laws or regulations (foreign or domestic), or if REGISTRATIONHNADLER is required to do so by applicable laws or regulations (foreign or domestic). Such withholding may be temporary or permanent (as determined by REGISTRATIONHNADLER).</p>


	<h2 style="margin-top:20px;">4. DISCLAIMER</h2>

	<p>YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. WE RESERVE THE RIGHT TO RESTRICT OR TERMINATE YOUR ACCESS TO THE SITE OR ANY FEATURE OR PART THEREOF AT ANY TIME. SPARKBASE, INC. EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTIES THAT MATERIALS ON THE SITE ARE NONINFRINGING, AS WELL AS WARRANTIES IMPLIED FROM A COURSE OF PERFORMANCE OR COURSE OF DEALING; THAT ACCESS TO THE SITE WILL BE UNINTERRUPTED OR ERROR-FREE; THAT THE SITE WILL BE SECURE; THAT THE SITE OR THE SERVER THAT MAKES THE SITE AVAILABLE WILL BE VIRUS-FREE; OR THAT INFORMATION ON THE SITE WILL BE COMPLETE, ACCURATE OR TIMELY. IF YOU DOWNLOAD ANY MATERIALS FROM THIS SITE, YOU DO SO AT YOUR OWN DISCRETION AND RISK. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIALS. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU THROUGH OR FROM THE SITE SHALL CREATE ANY WARRANTY OF ANY KIND. SPARKBASE, INC., DOES NOT MAKE ANY WARRANTIES OR REPRESENTATIONS REGARDING THE USE OF THE MATERIALS ON THIS SITE IN TERMS OF THEIR COMPLETENESS, CORRECTNESS, ACCURACY, ADEQUACY, USEFULNESS, TIMELINESS, RELIABILITY OR OTHERWISE.</p>

	<h2 style="margin-top:20px;">5. TERMINATION</h2>

	<p>REGISTRATIONHNADLER, in its sole discretion, may terminate your password, accounts (or any part thereof) and/or your right to use the Services, and remove and discard any and all of Your Content within the Services, at any time for any reason or no reason, including, without limitation, for lack of use, failure to timely pay any fees or other monies due REGISTRATIONHNADLER, or if REGISTRATIONHNADLER believes that you have violated or acted inconsistently with the letter or spirit of this TOS. You agree that any termination of your right to use the Services may be effected without prior notice, and acknowledge and agree that REGISTRATIONHNADLER may immediately deactivate or delete your account and all related Content and files related to your account and/or bar any further access to such files or the Services. Further, you agree that REGISTRATIONHNADLER shall not be liable to you or any third-party for any termination of your right to use or otherwise access the Services. All provisions of this TOS that by their nature should survive termination of your right to use the Services shall survive (including, without limitation, all limitations on liability, releases, indemnification obligations, disclaimers of warranties, and intellectual property protections and licenses).</p>
	
	<h2 style="margin-top:20px;">6. LINKS</h2>

	<p>The Services may provide, or third parties may provide, links to other Internet websites or resources. Because REGISTRATIONHNADLER has no control over such websites and resources, you acknowledge and agree that REGISTRATIONHNADLER is not responsible for the availability of such websites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products, services or other materials on or available from such websites or resources. You further acknowledge and agree that REGISTRATIONHNADLER shall not be responsible or liable for any damage or loss caused or alleged to be caused by or in connection with any use of or reliance on any such Content, advertising, products, services or other materials available on or through any such website or resource.</p>
	
	<h2 style="margin-top:20px;">7. YOUR REGISTRATION OBLIGATIONS</h2>

	<p>To be a registered user of the Services, whether as a Buyer or other non-Organizer, you agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Site registration form (the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or REGISTRATIONHNADLER has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, REGISTRATIONHNADLER has the right to suspend or terminate all of your accounts and refuse any and all of your current or future use of the Services (or any portion thereof). REGISTRATIONHNADLER is concerned about the safety and privacy of all its users, particularly children. For this reason, and to be consistent with the terms of use of any FPM service provider or other third party service provider, you must be at least 18 years of age, or the legal age of majority where you reside if that jurisdiction has an older age of majority, to register for an account.</p>

	<h2 style="margin-top:20px;">8. ACCOUNT, PASSWORD AND SECURITY</h2>

	<p>As part of the Site registration process, you will create a password and account. You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all activities that occur under your account, including, without limitation, all actions by sub-users registered under your account. You agree to (a) immediately notify REGISTRATIONHNADLER of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. REGISTRATIONHNADLER cannot and will not be liable for any loss, damage or other liability arising from your failure to comply with this Section or from any unauthorized access to or use of your account. In the event of any dispute between two or more parties as to account ownership, you agree that REGISTRATIONHNADLER shall be the sole arbiter of such dispute in its sole discretion and that REGISTRATIONHNADLER'S decision (which may include termination or suspension of any account subject to dispute) shall be final and binding on all parties.</p>

	<h2 style="margin-top:20px;">9. CONTENT</h2>

	<h5 style="margin-top:20px;margin-bottom:5px;">9.1 Site Content</h5>

	<p>You agree that all material, including without limitation information, data, software, text, design elements, graphics, images and other content (collectively, "Content"), contained in or delivered via the Services or otherwise made available by REGISTRATIONHNADLER in connection with the Services (collectively, "Site Content") is protected by copyrights, trademarks, service marks, trade secrets or other intellectual property and other proprietary rights and laws. REGISTRATIONHNADLER may own the Site Content or portions of the Site Content may be made available to REGISTRATIONHNADLER through arrangements with third parties. Except as expressly authorized by REGISTRATIONHNADLER in writing or in connection with your use of the intended functionality of the Services, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works of any Site Content, or post any Site Content on any other web site or in a networked computer environment for any purpose. Reproducing, copying or distributing any Site Content for any other purpose is strictly prohibited without the express prior written permission of REGISTRATIONHNADLER. You shall use the Site Content only for purposes that are permitted by this TOS and any applicable laws and regulations (foreign and domestic). Any rights not expressly granted herein are reserved.</p>

	<h5 style="margin-top:20px;margin-bottom:5px;">9.2 Your Content</h5>

	<p>You acknowledge and agree that if you contribute, provide or make available any Content to the Site ("Your Content"), you hereby grant to REGISTRATIONHNADLER a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, transferable, sublicensable (through multiple tiers) right and license to use, reproduce, adapt, modify, distribute, translate, publish, create derivative works based on, perform, display and otherwise exploit Your Content, in whole or in part, in any media now known or hereafter developed, for any purpose whatsoever. You represent and warrant that you have all the rights, power and authority necessary to grant the foregoing license, and that all Your Content (i) does not infringe, violate, misappropriate or otherwise conflict with the rights of any third party, and (ii) complies with all applicable laws and regulations (foreign and domestic). In addition, Your Content must be accurate and truthful. REGISTRATIONHNADLER reserves the right to remove any of Your Content from the Site at any time if REGISTRATIONHNADLER believes in its sole discretion that it does not comply with this TOS. In addition, you agree that REGISTRATIONHNADLER may use your name and logo (whether or not you have made it available through the Site) for the purpose of identifying you as an existing or past customer of REGISTRATIONHNADLER both on the Site and in marketing and promotional materials.</p>

	<h2 style="margin-top:20px;">10. LIMITATIONS</h2>

	<p>In no event shall REGISTRATIONHNADLER be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on REGISTRATIONHNADLER site, even if REGISTRATIONHNADLER authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

	<h2 style="margin-top:20px;">11. GOVERNING LAW</h2>

	<p>Any dispute, controversy or difference which may arise between the parties out of, in relation to or in connection with this Agreement is hereby irrevocably submitted to the exclusive jurisdiction of the courts of Ohio, to the exclusion of any other courts without giving effect to its conflict of laws provisions or your actual state or country of residence.</p>


</div>
