<div class="grid_8">
	<p>
		<label for="registration">First Name:</label><br />
		<?=HTML::text_field($this->registry['registration'], 'first_name')?>
	</p>
	<p>
		<label for="registration">Last Name:</label><br />
		<?=HTML::text_field($this->registry['registration'], 'last_name')?>
	</p>
	<p>
		<label for="email">Email:</label><br />
		<?=HTML::text_field($this->registry['registration'], 'email')?>
	</p>
	<p>
		<label for="registration">Address:</label><br />
		<?=HTML::text_field($this->registry['registration'], 'address_1')?><br />
		<?=HTML::text_field($this->registry['registration'], 'address_2')?>
	</p>
	<p>
		<label for="registration">City:</label><br />
		<?=HTML::text_field($this->registry['registration'], 'last_name')?>
	</p>
	<p>
		<label for="state">State</label><br />
		<?=HTML::input_state_select($this->registry['registration'], 'state')?>
	</p>
	<p>
		<label for="zip">Zip</label><br />
		<?=HTML::text_field($this->registry['registration'], 'last_name')?>
	</p>
	<p>
		<label for="birth_date">Birth Date:</label><br />
		<?=HTML::text_field($this->registry['registration'], 'birth_date', 'text', 'date-picker')?>
	</p>
</div>
<div class="grid_4">
	<div class="info_box">
		<p>stuff</p>
	</div>
</div>