<div class="grid_3" id="left_menu">
	<?=$this->registry['member']->display_member_thumb()?>
	<?PHP $member_name = (!empty($this->registry['member']->name)) ? $this->registry['member']->name : $this->registry['member']->contact_name; ?>
	<h5><?=$member_name?></h5>
	<p class="member_link"><a href="/member/edit" class="freshbutton-silver">Member Profile</a></p>
	<p class="payment_link"><a href="/member/payments" class="freshbutton-silver">Payment Settings</a></p>
	<p class="report_link"><a href="/report" class="freshbutton-silver">Reporting</a></p>
	<p class="communications_link"><a href="/communication" class="freshbutton-silver">Send Emails</a></p>
	<hr />
	<!--<p style="margin-top:20px;"><a href="/activities/<?=$this->registry['member']->id?>/<?=$member_name?>">My Regsitration Link</a></p>-->
</div>
