<?=$this->registry['error']?>
<p><a href="https://connect.stripe.com/oauth/authorize?response_type=code&scope=read_write&client_id=ca_2R0vxDUQfDL0YkJTwsrUQsoN4IZXw1T1" class="stripe-connect"><span>Connect with Stripe</span></a></p>

