<div class="grid_6">
	<h5><a href="/_r5kadmin/member">Member Administration</a></h5>
	<p>Members needed payment info.<br />
	Members without created activities.<br />
	Member email leads.</p>

	<h5><a href="/_r5kadmin/payment">Payments</a></h5>
	<p>Members to pay.<br />
	Mark registrations as paid and batch id.<br />
	</p>
</div>