<div class="prefix_3 grid_5">
<div id="login">
	<form name="loginform" id="loginform" method="post" action="/admin/index/login">
		<fieldset>
			<legend>Please Log In</legend>
			<p><label for="theuser">User</label><input type="text" name="theuser" id="theuser" /></p>
			<p><label for="thepw">Password</label><input type="password" name="thepw" id="thepw" /></p>
			<p><label for="submit">&nbsp;</label><input type="submit" name="submit" value="Login" /></p>
		</fieldset>
	</form>
</div>
</div>