<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
 <title><?=$this->registry['sub_title']?> &middot; Registration Handler</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Google Font: Open Sans -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.datetimepicker.css">

  <!-- App CSS -->
  <link rel="stylesheet" href="/css/mvpready-admin.css">
  <link rel="stylesheet" href="/css/mvpready-flat.css">
  <link href="/css/rh.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body class="account-bg">

<div id="wrapper">

  <header class="navbar navbar-inverse" role="banner">

    <div class="container">

      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-cog"></i>
        </button>

        <a href="/" class="navbar-brand navbar-brand-img">
          <img src="/images/site/logo.png" alt="Registration Handler">
        </a>
      </div> <!-- /.navbar-header -->
 

    </div> <!-- /.container -->

  </header>

  <div class="account-wrapper">
      <?PHP Application::flash(); ?>
    <div class="account-body">
      <?PHP $this->render(get_class($this), $this->view); ?>
    </div> <!-- /.account-body -->

  </div> <!-- /.account-wrapper -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
<script src="/js/libs/jquery-1.10.2.min.js"></script>
<script src="/js/libs/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="./js/libs/excanvas.compiled.js"></script>
<![endif]-->
<!-- App JS -->
<script src="/js/mvpready-core.js"></script>
<script src="/js/mvpready-admin.js"></script>
<script>
 var rh = {};
 <?PHP IF(!empty($this->registry['js_data'])) : ?>
  rh.data = <?=$this->registry['js_data']?>
 <?PHP ENDIF; ?>
 
 if($('#flash.success').length > 0) 
  $('#flash.success').delay(5000).slideToggle('fast');
 if($('#flash.status').length > 0) 
  $('#flash.status').delay(5000).slideToggle('fast');
 
</script>

<!-- Plugin JS -->
<? $this->load_registry_js_files() ?>


<?PHP IF (DEBUG): ?>
  <pre style="margin-top:50px;"><?PHP print_r($this); ?></pre>
  <pre>POST <?PHP print_r($_POST); ?></pre>
  <pre>SESSION <?PHP echo session_id() . ' '; print_r($_SESSION);?></pre>
<pre>COOKIE <?PHP print_r($_COOKIE); ?></pre>
<?PHP ENDIF;?>
</body>
</html>